header{
    background-color: black;
    color: white;
    display: flex;
}
img{
    height: 110px;
    width: 100px;
}
.hname{
    margin-left: 950px;
    color: white;
}
nav{
    background-color: black;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    margin: 5px;
}
footer{
    background-color: black;
    color: white;
    margin-top: 450px;
    text-align: center;
}
table{
    width: 100%;
}
